<div class="service-form">
  <h2>Enroll yourself into our Training Program</h2>
  <form [formGroup]="requestForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="requestForm.controls.name.touched && requestForm.controls.name.invalid">
        <span *ngIf="requestForm.controls.name.errors.required">This field is mandatory</span>
        <span *ngIf="requestForm.controls.name.errors.pattern">This field is invalid</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>address@yourmail.com</mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="requestForm.controls.email.touched && requestForm.controls.email.invalid">
        <span *ngIf="requestForm.controls.email.errors.required">This field is mandatory</span>
        <span *ngIf="requestForm.controls.email.errors.pattern">This field is invalid</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Training Type</mat-label>
      <mat-select formControlName="category" required>
        <mat-option value="Network Administration">Network Administration</mat-option>
        <mat-option value="Programming Language">Programming Language</mat-option>
        <mat-option value="Office Software">Office Software</mat-option>
      </mat-select>
      <mat-error *ngIf="requestForm.controls.category.touched && requestForm.controls.category.invalid">
        <span *ngIf="requestForm.controls.category.errors.required">This field is mandatory</span>
        <span *ngIf="requestForm.controls.category.errors.pattern">This field is invalid</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Your objective</mat-label>
      <textarea matInput formControlName="query" required></textarea>
      <mat-error *ngIf="requestForm.controls.query.touched && requestForm.controls.query.invalid">
        <span *ngIf="requestForm.controls.query.errors.required">This field is mandatory</span>
      </mat-error>
    </mat-form-field>
    <div class="submit-btn text-center">
      <button mat-raised-button type="submit" [disabled]="!(requestForm.valid && requestForm.dirty)"
        (click)="handleSubmit()">Submit</button>
    </div>
  </form>
</div>