<div class="service2-outer a">
  <div class="service1 search1">
    <div class="sorted">
      <p>Sort By</p>
      <span>
        <a>Popularity<mat-icon>{{sortValue === 1 ? 'vertical_align_bottom' : 'vertical_align_top'}}</mat-icon></a>
        <a [matTooltip]="sortValue === 1 ? 'Low to High' : 'High to Low'">Price
          <mat-icon>
            {{sortValue === 1 ?
            'vertical_align_bottom' :
            'vertical_align_top'}}
          </mat-icon>
        </a>
        <a [matTooltip]="sortValue === 1 ? 'Aa - Zz' : 'Zz - Aa'">Title
          <mat-icon>
            {{sortValue === -1 ?
            'vertical_align_bottom' :
            'vertical_align_top'}}
          </mat-icon>
        </a>
      </span>
    </div>
    <div class="filter-left">
      <div class="productSearch">
        <app-search (searchEvent)="filterByText($event)"></app-search>
      </div>
      <app-product-category (categoryEvent)="filterByCategory($event)"></app-product-category>
    </div>
  </div>


  <div class="service2">
    <mat-grid-list cols="3" rowHeight="500px">
      <mat-grid-tile *ngFor="let product of products; let i = index" [class.active]="i == currentIndex"
        (click)="setActiveProduct(product, i)">
        <mat-card class="service-matcard">
          <mat-card-content routerLink="/product/{{ product.id }}">
            <div class="card 1 product-card">
              <div class="product-image">
                <img src={{product.image}} />
              </div>
              <h2>{{product.title}}</h2>
              <p>{{product.description}}</p>
              <h3 class="price-h2"><span>Price:</span> ${{product.price}}</h3>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>