<div class="checkout1">
  <h2>Order Details</h2>
  <div class="table-dv">
    <div class="table1 table-head">
      <div class="table-left">Product</div>
      <div class="table-center">Quantity</div>
      <div class="table-right">
        Price
      </div>
    </div>
    <div class="table1" *ngFor="let item of cartItem.productDetails; let i = index">
      <div class="table-left">{{item.product.productName}}</div>
      <div class="table-center">{{item.quantity}}</div>
      <div class="table-right">
        $ {{item.product.price}}
      </div>
    </div>
    <div class="table1">
      <div class="table-left"><strong>Total</strong></div>
      <div class="table-center"></div>
      <div class="table-right">
        <strong> $ {{cartItem.orderTotalPrice}}</strong>
      </div>
    </div>

    <div class="table2 table2-form">
      <form [formGroup]="shippingForm">
        <mat-form-field appearance="fill">
          <mat-label>Name:</mat-label>
          <input matInput maxlength="20" placeholder="Sam Fedrick" formControlName="name" required>
          <mat-error *ngIf="shippingForm.controls.name.touched && shippingForm.controls.name.invalid">
            <span *ngIf="shippingForm.controls.name.errors.required">This field is mandatory</span>
            <span *ngIf="shippingForm.controls.name.errors.pattern">This field is invalid</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Address:</mat-label>
          <input matInput maxlength="100" placeholder="JOHN JONES MARKETING DEPARTMENT 10-123 1/2 MAIN STREET NW"
            formControlName="address" required>
          <mat-error *ngIf="shippingForm.controls.address.touched && shippingForm.controls.address.invalid">
            <span *ngIf="shippingForm.controls.address.errors.required">This field is mandatory</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Contact Info:</mat-label>
          <input matInput maxlength="10" placeholder="325 5486 2156" formControlName="contactInfo" required>
          <mat-error *ngIf="shippingForm.controls.contactInfo.touched && shippingForm.controls.contactInfo.invalid">
            <span *ngIf="shippingForm.controls.contactInfo.errors.required">This field is mandatory</span>
            <span *ngIf="shippingForm.controls.contactInfo.errors.pattern">This field is invalid</span>
          </mat-error>
        </mat-form-field>
      </form>
    </div>

  </div>
  <div class="place-order">
    <button mat-button color="primary" routerLink="/cart">Back</button>
    <button mat-button color="primary" mat-raised-button type="submit"
      [disabled]="!(shippingForm.valid && shippingForm.dirty)" (click)="handlePlaceOrder()">Place Order</button>
  </div>
</div>