<div class="cart-page">
  <div class="service2">
    <mat-card>
      <mat-card-content>
        <div class="cart-main">
          <div class="cart-left">
            <img src="../../../../assets/img/servicess.png" />
          </div>
          <div class="cart-right">
            <h2>Software Development</h2>
            <p>Laser printers are known for their fast print speeds and high-quality text prints. These printers use a
              laser to fuse toner onto the paper, creating sharp, crisp text ideal for documents and business materials.
              Laser printers are known for their fast print speeds and high-quality text prints. These printers use a
              laser to fuse toner onto the paper, creating shar.
            </p>
            <div class="quantity"><span>Total Quantity: </span>
              <mat-form-field>
                <mat-label>Select</mat-label>
                <mat-select>
                  <mat-option value="one">1</mat-option>
                  <mat-option value="two">2</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="cart-btn">
              <button mat-button color="primary">Proceed To Checkout</button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>



  </div>
</div>