<div class="service2-outer a">
  <div class="service2">
    <mat-grid-list cols="1" rowHeight="850px">
      <mat-grid-tile>
        <mat-card class="service-matcard">
          <mat-card-content>
            <div class="card 1 product-card">
              <div class="product-image">
                <img src="assets/img/{{currentProduct.imageId}}" />
              </div>
              <h2>{{currentProduct.productName}}</h2>
              <p>{{currentProduct.productDescription}}</p>
              <h3 class="price-h2"><span>Price:</span> ${{currentProduct.price}}</h3>
              <div class="customer-review">
                <h2>Ratings & Reviews:</h2>
                <div class="r_rating">
                  <star-rating [value]="currentProduct.overallRating || 0" [totalstars]="5" checkedcolor="green"
                    uncheckedcolor="grey" size="24px" [readonly]="true"></star-rating>
                </div>
              </div>
              <!-- <div class="review-dv"
                *ngFor="let reviewRating of currentProduct.productReviewsAndRatings; let i = index">
                <mat-grid-list cols="1" rowHeight="100px">
                  <mat-grid-tile>
                    <div class="review-left">
                      <span><i class="fa fa-user"></i></span>
                    </div>
                    <div class="review-right">
                      <h2>{{reviewRating.username}} <span class="progress"></span></h2>
                      <p>{{reviewRating.summary}}</p>
                      <div class="r_rating">
                        <star-rating [value]="reviewRating.rating || 0" [totalstars]="5" checkedcolor="green"
                          uncheckedcolor="grey" size="24px" [readonly]="true"></star-rating>
                      </div>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </div> -->
              <!-- <div class="review-dv review-edit">
                <mat-grid-list cols="1" rowHeight="180px">
                  <mat-grid-tile>
                    <div class="review-left">
                      <span><i class="fa fa-user"></i></span>
                    </div>
                    <div class="review-right">
                      <form [formGroup]="reviewRatingForm">
                        <mat-form-field class="example-full-width">
                          <mat-label>Leave a comment</mat-label>
                          <textarea matInput placeholder="Ex. It makes me feel..." formControlName="review"></textarea>
                        </mat-form-field>
                        <div class="r_rating">
                          <star-rating [value]="0" [totalstars]="5" checkedcolor="green" uncheckedcolor="grey"
                            size="24px" [readonly]="false" (rate)="onRate($event.newValue)"></star-rating>
                        </div>
                        <div class="submit-btn text-center">
                          <button mat-raised-button type="submit"
                            [disabled]="!(reviewRatingForm.valid && reviewRatingForm.dirty)" (click)="handleSubmit()"
                            mat-button color="primary">Submit</button>
                        </div>
                      </form>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </div> -->
              <div *ngIf="isLogin" class="cart-dv">
                <button mat-stroked-button color="primary" (click)="handleAddToCart()">Add to Cart</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>