.service2 {
  width: 90%;
  margin: 0px auto;
}

.service2-outer {
  background: #f2f5f7;
}

.card1 {
  text-align: center;
}

.card1 h2 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 5px;
}

.card1 i.fa {
  font-size: 60px;
  margin-bottom: 20px;
}

.card1 p {
  color: #777;
  font-size: 16px;
}

.card1.a i.fa {
  color: #8ca3b9;
}

.card1.b i.fa {
  color: #10f3c2;
}

.card1.c i.fa {
  color: #d42d36;
}

.card1.d i.fa {
  color: #a8cf1b;
}

.social-dv i.fa {
  margin-right: 10px;
}

.service-matcard {
  margin: 10px;
}

.service-form {
  width: 90%;
  margin: 0px auto;
  padding: 20px 0px;
}

.submit-btn button {
  border-radius: 30px;
  background-color: #7b1fa2;
  color: #fff;
  padding: 5px 45px;
  font-size: 15px;
  margin-top: 20px;
}

.service-form h2 {
  color: #000;
}

.productSearch {
  margin-right: 10px;
}

.product-image img {
  width: 40%;
}

.service-matcard .product-card {
  margin-bottom: 20px;
}

.service-matcard .product-card p {
  color: #787878;
}

.service-matcard .product-card h3 span {
  font-weight: bold;
}

.customer-review h2 {
  margin: 0;
  font-size: 17px;
}

.customer-review p {
  font-size: 17px;
  margin: 0;
  color: #11932e !important;
}

.rev-content {
  margin-top: 10PX;
  border: 1px solid #ebe7e7;
  padding: 10px;
  border-radius: 10px;
}

.rev-content h2 {
  color: #645b5b;
  font-size: 17px;
}

.rev-content p {
  color: #787878 !important;
  font-size: 13px;
}

.price-h2 {
  margin-bottom: 0px;
}

.brdr-top {
  border-top: 1px solid #cecece;
  margin-top: 10px;
  padding-top: 5px;
}

.sorted {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sorted>p {
  margin-bottom: 0px;
  margin-right: 10px;
  font-weight: bold;
}

.sorted span a {
  color: #212121;
  font-size: 13px;
  margin-right: 10px;
}

.cart-dv {
  width: 200px;
  margin: 10px auto;
}

.cart-dv button {
  background: #7b1fa2;
  color: #fff;
  width: 100%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.product-image {
  text-align: center;
}

.con-rev1 {
  border-bottom: 1px solid #ebe7e7;
  padding-bottom: 10px;
}

.con-rev1:last-child {
  border: none;
}


.review-left {
  width: 10%;
}

.review-right {
  width: 90%;
}

.review-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-left span {
  display: flex;
  height: 50px;
  width: 50px;
  border: 1px solid #cecece;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #7b1fa2;
}

.review-right h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
}

.review-right h2 span {
  font-size: 12px;
  font-weight: normal;
}

.review-dv {
  background: #f2f5f7;
  padding: 15px 0;
  margin-bottom: 10px;
  border-radius: 5px;
}

.review-dv p {
  margin-bottom: 5px;
}

.r_rating i.fa {
  font-size: 18px;
  margin: 2px;
  color: #dbdbdb;
}

.r_rating i.fa.green {
  color: #61cb61;
}

.status-edit {
  margin-top: 20px;
  padding-right: 20px;
}