.service2 {
  width: 90%;
  margin: 0px auto;
}

.cart-page {
  margin: 30px 0;
}

img {
  max-width: 100%;
}

.cart-left {
  width: 30%;
  padding: 15px;
}

.cart-right {
  width: 70%;
  padding: 15px;
}

.cart-main {
  display: flex;
  border-bottom: 1px solid #cecece;
}

.service2 .cart-main:last-child {
  border-bottom: none;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity>span {
  width: 15%;
}

.cart-btn {
  display: flex;
  justify-content: flex-end;
}

.cart-btn button {
  color: #fff;
  text-align: center;
  border-radius: 5px;
  background-color: #7b1fa2;
  width: 200px;
  padding: 1px 0;
}

.cart-btn p {
  padding: 0;
  font-size: 14px;
}

h2.cart-delete {
  display: flex;
  justify-content: space-between;
}

h2.cart-delete[_ngcontent-ttm-c199] {
  display: flex;
  justify-content: space-between;
}

h2.cart-delete i.fa {
  font-size: 16px;
  color: rgb(149 142 142 / 87%);
}

.subtotal {
  padding: 15px 0;
  font-size: 18px;
}

.subtotal p {
  display: flex;
  justify-content: space-between;
}

.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
}