<div class="service-page">
  <div class="service2-outer">
    <div class="service2">

      <mat-grid-list cols="1" rowHeight="850px">
        <mat-grid-tile>
          <mat-card class="service-matcard">
            <mat-card-content>
              <div class="card1 a ser-detail-card">
                <img src="assets/img/{{currentService.image}}" />
                <h2>{{currentService.serviceName}} <span class="status-sp">Complete</span></h2>
                <p>{{currentService.description}}</p>
                <p><strong>Duration:</strong>{{currentService.duration}} Days</p>
                <p><strong>Price:</strong>${{currentService.price}}</p>
                <div class="r_rating">
                  <i class="fa fa-star green" *ngFor="let e of [].constructor(currentService.userOverallRating)"></i>
                </div>
              </div>
              <div class="review-dv" *ngFor="let reviewRating of currentService.reviewRatings; let i = index">
                <mat-grid-list cols="1" rowHeight="100px">
                  <mat-grid-tile>
                    <div class="review-left">
                      <span><i class="fa fa-user"></i></span>
                    </div>
                    <div class="review-right">
                      <h2>{{reviewRating.username}} <span class="progress">Pending</span></h2>
                      <p>{{reviewRating.summary}}</p>
                      <div class="r_rating">
                        <i class="fa fa-star green" *ngFor="let e of [].constructor(reviewRating.rating)"></i>
                        <!-- <i class="fa fa-star"></i> -->
                      </div>

                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>

              <div class="review-dv review-edit">
                <mat-grid-list cols="1" rowHeight="180px">
                  <mat-grid-tile>
                    <div class="review-left">
                      <span><i class="fa fa-user"></i></span>
                    </div>
                    <div class="review-right">
                      <mat-form-field class="example-full-width">
                        <mat-label>Leave a comment</mat-label>
                        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                      </mat-form-field>
                      <div class="r_rating">
                        <!-- <i class="fa fa-star green" *ngFor="let e of [].constructor(newRating)"></i>
                        <i class="fa fa-star" *ngFor="let e of [].constructor(reviewRating.rating)"></i> -->
                      </div>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>

            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

    </div>
  </div>
</div>