<div class="checkout">
  <mat-card>
    <mat-card-content>
      <div>
        <h2>Shipping Information</h2>
        <div class="example-container">
          <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" required>
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>Shipping Address</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>0000 1235 1543</mat-label>
          <input matInput placeholder="Placeholder">

        </mat-form-field>
        <div class="pay-dv">
          <button mat-button color="primary">Pay</button>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>