<div class="checkout">
  <mat-card>
    <mat-card-content>
      <div>
        <h2>Shipping Information</h2>
        <div class="example-container">
          <div class="checkout1">
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input matInput #input maxlength="10" placeholder="Eg John">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input matInput #input maxlength="10" placeholder="Eg Michael">
            </mat-form-field>

          </div>
          <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" required>
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>Shipping Address</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>



        <div class="checkout1">
          <mat-form-field>
            <mat-label>Card Number</mat-label>
            <input matInput #input maxlength="10" placeholder="0000 1234 5678">
          </mat-form-field>

          <mat-form-field>
            <mat-label>CVV</mat-label>
            <input matInput #input maxlength="10" placeholder="222">
          </mat-form-field>

        </div>
        <div class="pay-dv">
          <button mat-button color="primary">Pay</button>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>