.checkout {
  width: 40%;
  margin: 30px auto;
}

.pay-dv {
  width: 40%;
  margin: 0px auto;
}

.pay-dv button {
  background: #7b1fa2;
  color: #fff;
  width: 100%;
}

.checkout1 {
  display: flex;
}

.checkout1 mat-form-field+mat-form-field {
  margin-left: 8px;
}